<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta name="description" content="">
	
	<meta name="author" content="">
	
	<link rel="icon" href="static/images/aarg.png">
	
	<title>Robot Control</title>

	<!-- Load the Paper.js library -->
	<script type="text/javascript" src="static/js/paper-full.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="static/css/fonts-all.css" rel="stylesheet">
    
    <!-- Icons -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="/"><em class="fa fa-android"></em> Minion Control</a></h1>
				
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
				
				<ul class="nav nav-pills flex-column sidebar-nav">
					<li class="nav-item"><a class="nav-link" href="/welcome"><em class="fa fa-home"></em> Welcome</a></li>
					<li class="nav-item"><a class="nav-link" href="/speed_control"><em class="fa fa-cogs"></em> Speed Control</a></li>
					<li class="nav-item"><a class="nav-link" href="/piston_control"><em class="fa fa-cogs"></em> Piston Control</a></li>
					<li class="nav-item"><a class="nav-link" href="/go_to_goal"><em class="fa fa-cogs"></em> Go To Goal</a></li>
					<li class="nav-item"><a class="nav-link active" href="/human_control"><em class="fa fa-cogs"></em> Human Control<span class="sr-only">(current)</span></a></li>
				</ul>
					
				<a href="/signout" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
			
			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">Human Control</h1>
					</div>
					
					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="static/images/aarg.png" alt="profile photo" class="float-left img-fluid im-thumbnail" width="30" height="auto">
						
						<div class="username mt-1">
							<h4 class="mb-1">{{active_user}}</h4>
						</div>
						</a>
						
						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
						     <a class="dropdown-item" href="/signout"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
					</div>
					
					<div class="clear"></div>
				</header>

				
				<section class="row">
					<div class="row">
					<div class="col-sm-12 float-right" id="statusIndicator">
					    <p id="connecting">
					      Connecting to rosbridge...
					    </p>
					    <p id="connected" style="color:#00D600; display:none">
					      Connected
					    </p>
					    <p id="error" style="color:#FF0000; display:none">
					      Error in the backend!
					    </p>
					    <p id="closed" style="display:none">
					      Connection closed.
					    </p>
					</div>
					</div>
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-9">
								<form id="myForm" class="form-horizontal" action="/human_control" method="post"> 
									<fieldset>
										<div class="form-group">
											<div class="row">



												<div class="col-sm-4">
												<label for="rid" class="col"><strong>Select Robot</strong></label>
													<div class="btn-group" data-toggle="buttons">
													{% for cnt in range(9) %}
														{% if cnt == 0 %}
													  	<label class="btn btn-primary active">
													    	<input type="radio" name="rid" id="option{{cnt}}" value="{{cnt}}" autocomplete="off" checked> {{cnt}}
													  	</label>
													  	{% else %}
													  	<label class="btn btn-primary">
													    	<input type="radio" name="rid" id="option{{cnt}}" value="{{cnt}}" autocomplete="off"> {{cnt}}
													  	</label>
													  	{% endif %}
													{% endfor %}
													</div>
												</div>
												<div class="ml-auto">
														<button id="cancel" type="button" class="btn btn-primary float-right btn-sm" >Cancel</button>
														<button id="clear_but" type="button" class="btn btn-primary float-right btn-sm" >Clear</button>
														<button id="sub" type="button" class="btn btn-primary float-right btn-sm" >Submit</button>
												</div>
												<div class="col-sm-6">
														<!-- <canvas id="canvas" style="width:1000px; height:425px; border:1px solid #000000;" ></canvas> -->
														<canvas id="canvas" width="1000" height="425" style="width:1000px; height:425px; background:url('static/images/black.png'); border:1px solid #000000;" ></canvas>
												</div>
											</div>
											<div class="dropup">
											    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Map
											    <span class="caret"></span></button>
											    <ul id="map_select" class="dropdown-menu" style="background-color: #222222">
											    	{% for n in maps_list %}
											      		<li value="{{loop.index}}"><a class="dropdown-item" style="color:#7376df;">{{n}}</a></li>
											    	{% endfor %}
											    </ul>
											</div>
										</div>
									</fieldset>
								</form>	
							</div>
						</section>
					</div>
				</section>
			</main>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-datepicker.js"></script>
    <script src="static/js/custom.js"></script>
    <script src="static/js/tether.min.js"></script> 
	// <script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
	<script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
    <!-- Define inlined PaperScript associate it with myCanvas -->
    <script type="text/paperscript" canvas="canvas">
		// Connecting to ROS
		// -----------------
		var ros = new ROSLIB.Ros();

		// If there is an error on the backend, an 'error' emit will be emitted.
		ros.on('error', function(error) {
		    document.getElementById('connecting').style.display = 'none';
		    document.getElementById('connected').style.display = 'none';
		    document.getElementById('closed').style.display = 'none';
		    document.getElementById('error').style.display = 'inline';
		    console.log(error);
		});

		 // Find out exactly when we made a connection.
		 ros.on('connection', function() {
		    console.log('Connection made!');
		    document.getElementById('connecting').style.display = 'none';
		    document.getElementById('error').style.display = 'none';
		    document.getElementById('closed').style.display = 'none';
		    document.getElementById('connected').style.display = 'inline';
		});

	  	ros.on('close', function() {
		    console.log('Connection closed.');
		    document.getElementById('connecting').style.display = 'none';
		    document.getElementById('connected').style.display = 'none';
	    	ocument.getElementById('closed').style.display = 'inline';
 	 	});

	  	// Create a connection to the rosbridge WebSocket server.
	  	ros.connect('ws://localhost:9090');

		// var track_done_subs = new ROSLIB.Topic({
		//     ros : ros,
		//     name : '/track_done',
		//     messageType : 'std_msgs/Int64'
		// });

		var bot_odom = new ROSLIB.Topic({
		    ros : ros,
		    name : '/odom',
		    queue_size: 1,
		    messageType : 'nav_msgs/Odometry'
		});

		var tdata = [0, 0];
		bot_odom.subscribe(function(message) {
			tdata[0] = message.pose.pose.position.x;
			tdata[1] = message.pose.pose.position.y;
			// console.log(tdata);
	     	tPath.add(new Point(tdata[0], tdata[1]));
		});


		var trajectory_pub = new ROSLIB.Topic({
	        ros : ros,
	        name : '/trajectory',
	        messageType : 'geometry_msgs/PoseArray'
        });

        var tracking_pub = new ROSLIB.Topic({
	        ros : ros,
	        name : '/start_tracking',
	        messageType : 'std_msgs/Int8'
        });


        var tracking_status = new ROSLIB.Message({
        	data : 0.0    
        });

		var traj_data = new ROSLIB.Message({
        	poses : []    
        });

   	    var v1 = new ROSLIB.Vector3({x : 0,y : 0, z : 0});
		var q1 = new ROSLIB.Quaternion({x : 0, y : 0,	z : 0, w : 1});
		var pose = new ROSLIB.Pose({
		    position : v1,
		    orientation : q1
		  });

		tool.minDistance = 15;
		tool.maxDistance = 20;
		var dpath_packet_size = 20;
		var dpath_sent = 0;	
		var cwidth, cheight;
		var dpath;
		
        var tPath = new Path({ strokeColor: 'green', strokeWidth: 8	});

		function onMouseDown(event) {
		    dpath = new Path();
		    dpath.strokeColor = 'blue'
		    dpath.strokeWidth =4;
		    dpath.fullySelected = true;
		}

		var poses = [];
		function onMouseDrag(event) {
		    dpath.add(event.point);
		    pose.position.x = event.point.x;
		    pose.position.y = event.point.y;
		    poses.push(pose.clone());
		    // if (dpath.length  > dpath_packet_size + dpath_sent) {
		    if (dpath.segments.length > dpath_packet_size + dpath_sent){
		    	dpath_sent = dpath.segments.length;	
		    	traj_data.poses = $.extend(true, [], poses);
		    	trajectory_pub.publish(traj_data);
		    	console.log(traj_data);
		    	poses.length = 0	
		    }
		}

		function onMouseUp(event) {
		    dpath.add(event.point);
		    pose.position.x = event.point.x;
		    pose.position.y = event.point.y;
		    poses.push(pose.clone());
		    // dpath.simplify(5);
		    dpath.closed = false;
		    dpath.selected = false;
		    // dpath.smooth();
		    traj_data.poses = $.extend(true, [], poses);
		    trajectory_pub.publish(traj_data);
		}

		$("#sub").click(function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			if ((traj_data.poses.length > 0)){
				tracking_status.data = 1;
				tracking_pub.publish(tracking_status);
		        tPath = new Path({ strokeColor: 'green', strokeWidth: 8	});
				// while(Math.sqrt( Math.pow((last_pt[0]-tdata[0]), 2) + Math.pow((last_pt[1]-tdata[1]), 2)) > 20) {
			}
			else
			{
				alert("Please draw a Path to make the robot move!!!");
			}
		});

		$("#clear_but").click(function() {
		 	tracking_status.data = 2;
			tracking_pub.publish(tracking_status);
			var canvas = document.getElementById('canvas');
			var context = canvas.getContext('2d');
            context.clearRect(0, 0, canvas.width, canvas.height);
            dpath.remove();
            tPath.remove();
            poses.length = 0;
            traj_data.poses.length = 0;
		});

		$("#cancel").click(function() {
		 	tracking_status.data = 3;
			tracking_pub.publish(tracking_status);
            poses.length = 0;
            traj_data.poses.length = 0;
		});

		$("ul[id*=map_select] li").click(function () {
	      var txt = ($(this).text());
	      var count = $(this).attr('value');
	      
	      $.ajax({
		        url: "/get_maps_count",
		        type: "GET",	
		        data: {count: count},
		        contentType: "application/json; charset=utf-8",
		        success: function() {
			       $.ajax({
			            url: "/post_maps",
			            dataType: 'json',	
			            success: function(data) {
			            img = 'static/images/'+data['img']
			            cwidth = data['x_dim'];
			            cheight = data['y_dim'];
			            $('#canvas').css("background-image", "url(" + img + ")");
			            $('#canvas').attr({width:cwidth,height:cheight}).css({width:'cwidth',height:'cheight'})
						$('#canvas').css("width", cwidth);
						$('#canvas').css("height", cheight);
			            }
					});
		        }
		    });
	    });
    </script>

	</body>
</html>
