<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta name="description" content="">
	
	<meta name="author" content="">
	
	<link rel="icon" href="static/images/aarg.png">
	
	<title>Robot Control</title>

	<!-- Load the Paper.js library -->
	<script type="text/javascript" src="static/js/paper-full.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/dist/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="static/css/fonts-all.css" rel="stylesheet">
    
    <!-- Icons -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>

<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="/"><em class="fa fa-android"></em> Minion Control</a></h1>
				
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
				
				<ul class="nav nav-pills flex-column sidebar-nav">
					<li class="nav-item"><a class="nav-link" href="/welcome"><em class="fa fa-home"></em> Welcome</a></li>
					<li class="nav-item"><a class="nav-link" href="/speed_control"><em class="fa fa-cogs"></em> Speed Control</a></li>
					<li class="nav-item"><a class="nav-link" href="/piston_control"><em class="fa fa-cogs"></em> Piston Control</a></li>
					<li class="nav-item"><a class="nav-link" href="/go_to_goal"><em class="fa fa-cogs"></em> Go To Goal</a></li>
					<li class="nav-item"><a class="nav-link" href="/human_control"><em class="fa fa-cogs"></em> Human Control</a></li>
					<li class="nav-item"><a class="nav-link active" href="/joystick_teleop"><em class="fa fa-cogs"></em> Joystick Teleop<span class="sr-only">(current)</span></a></li>
				</ul>
					
				<a href="/signout" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
			
			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">Joystick Tele-operation</h1>
					</div>
					
					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="static/images/aarg.png" alt="profile photo" class="float-left img-fluid im-thumbnail" width="30" height="auto">
						
						<div class="username mt-1">
							<h4 class="mb-1">{{active_user}}</h4>
						</div>
						</a>
						
						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
						     <a class="dropdown-item" href="/signout"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
					</div>
					
					<div class="clear"></div>
				</header>

				
				<section class="row">
					<div class="row">
						<div class="col-sm-12 float-right" id="statusIndicator">
						    <p id="connecting">
						      Connecting to rosbridge...
						    </p>
						    <p id="connected" style="color:#00D600; display:none">
						      Connected
						    </p>
						    <p id="error" style="color:#FF0000; display:none">
						      Error in the backend!
						    </p>
						    <p id="closed" style="display:none">
						      Connection closed.
						    </p>
						</div>
					</div>
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-9">
								<form id="myForm" class="form-horizontal" action="/human_control" method="post"> 
									<fieldset>
										<div class="form-group">
											<div>
												<!-- <canvas id="arena_map" class="fixed-bottom" width="1000" height="425" style="width:1000px; height:425px; background:url('static/images/maze.png'); border:1px solid #000000;" > -->
												<canvas id="arena_map" class="fixed-bottom" width="1000" height="425">
													
												</canvas>
												<!-- <img id="arena_map" class="fixed-bottom" src="static/images/maze.png" alt="check_image" width="400" height="300" /> -->
												<!-- style=”display:none” -->
											</div>
											<label for="rid" class="col"><strong>Select Robot</strong></label>
											<div class="row">
												<div class="col-sm-6">
													<div class="btn-group" data-toggle="buttons">
													{% for cnt in range(9) %}
														{% if cnt == 0 %}
													  	<label class="btn btn-primary btn-sm active">
													    	<input type="radio" name="rid" id="option{{cnt}}" value="{{cnt}}" autocomplete="off" checked> {{cnt}}
													  	</label>
													  	{% else %}
													  	<label class="btn btn-primary btn-sm">
													    	<input type="radio" name="rid" id="option{{cnt}}" value="{{cnt}}" autocomplete="off"> {{cnt}}
													  	</label>
													  	{% endif %}
													{% endfor %}
													</div>
												</div>
												<div class="col-sm-2 float-right">
  													<input type="text" id="move_command" class="form-control" placeholder="Input" onkeydown="giveCommands(event)">
												</div>
												<div class="col-sm-2">
												    <input id="track" type="checkbox" data-toggle="toggle" class="btn btn-primary float-right btn-sm" data-on="Track" data-off="Stop" data-offstyle="danger">
												</div>
											</div>
											<div class="row">
													<div class="col-sm-12 fixed">
													    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
													    Instructions
													  	</button>
													  	<div class="collapse" id="collapseExample">
														  <div class="card card-body">
														  	<div class="jumbotron jumbotron-fluid">
															  <div class="container">
															    <h4 class="display-6">Joystick Controls</h4>
																    <p class="lead">To run the robot.<br>
												    				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<font size="4"
				          											color="red">w</font><br>
												    				&nbsp; &nbsp; <font size="4"color="red">a</font> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<font size="4"color="red">d</font><br>
												    				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; <font size="4"color="red">s</font> <br>
												    				Press "<font size="4"color="red">w</font>" to move Forward <br>
												    				Press "<font size="4"color="red">a</font>" to move Left <br>
												    				Press "<font size="4"color="red">d</font>" to move Right<br>
												    				Press "<font size="4"color="red">s</font>" to move Backward <br>
												    				Press "<font size="4"color="red">x/space</font>" to Stop the robot <br>
												    				</p>
															  </div>
															</div>
														  </div>
														</div>
													</div>
												</div>
												<br>
												<div class="row">
													<div class="col-sm-5" id="video_table"></div>
												</div>
										</div>
									</fieldset>
								</form>	
							</div>
						</section>
					</div>
				</section>
			</main>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    <!-- <script src="static/dist/js/bootstrap4-toggle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="static/js/bootstrap-datepicker.js"></script>
    <script src="static/js/custom.js"></script>
    <script src="static/js/tether.min.js"></script> 
	// <script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
	<script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
    <!-- Define inlined PaperScript associate it with myCanvas -->
    <script>

		// Connecting to ROS
		// -----------------
		var ros = new ROSLIB.Ros();

		// If there is an error on the backend, an 'error' emit will be emitted.
		ros.on('error', function(error) {
		    document.getElementById('connecting').style.display = 'none';
		    document.getElementById('connected').style.display = 'none';
		    document.getElementById('closed').style.display = 'none';
		    document.getElementById('error').style.display = 'inline';
		    console.log(error);
		});

		 // Find out exactly when we made a connection.
		 ros.on('connection', function() {
		    console.log('Connection made!');
		    document.getElementById('connecting').style.display = 'none';
		    document.getElementById('error').style.display = 'none';
		    document.getElementById('closed').style.display = 'none';
		    document.getElementById('connected').style.display = 'inline';
		});

	  	ros.on('close', function() {
		    console.log('Connection closed.');
		    document.getElementById('connecting').style.display = 'none';
		    document.getElementById('connected').style.display = 'none';
	    	document.getElementById('closed').style.display = 'inline';
 	 	});

	  	// Create a connection to the rosbridge WebSocket server.
	  	ros.connect('ws://localhost:9090');


//*********************************************************************************
		var bot_odom = new ROSLIB.Topic({
		    ros : ros,
		    name : '/odom',
		    queue_size: 1,
		    messageType : 'nav_msgs/Odometry'
		});

		var tdata = [0, 0];
		bot_odom.subscribe(function(message) {
			tdata[0] = message.pose.pose.position.x;
			tdata[1] = message.pose.pose.position.y;
			tdata = meter2pixel(tdata);
			// console.log(tdata);
		});


//*********************************************************************************

var c = document.getElementById("arena_map");
var ctx = c.getContext("2d");
var arena = new Image();
arena.src = 'static/images/black.png';
ctx.scale(.5, .706);
ctx.drawImage(arena, 0, 0);

function meter2pixel(data){
	var x = data[0], y = data[1];
	var x_pix, y_pix;
	console.log(x, y, "meters");
	var GUI_MAX_COORD = [1000, 425], ARENA_MAX_COORD = [10, 8];
	var GUI_MIN_COORD = [0, 0], ARENA_MIN_COORD = [0, 0];
	var M2m = 1000;
	XPixPerMm = GUI_MAX_COORD[0] / (ARENA_MAX_COORD[0] * M2m);
    YPixPerMm = GUI_MAX_COORD[1] / (ARENA_MAX_COORD[1] * M2m);
    if ((x > ARENA_MAX_COORD[0]) || (x < ARENA_MIN_COORD[0]) || (y > ARENA_MAX_COORD[1]) || (y < ARENA_MIN_COORD[1])){
		;
	} 
	else{
		x_pix = x * M2m * XPixPerMm;
        y = ARENA_MAX_COORD[1] - y;
        y_pix = y * M2m * YPixPerMm;
	}
	console.log(x_pix, y_pix, "pixels");
	var c = document.getElementById("arena_map");
	console.log(c.width, c.height, "height");
	var ctx = c.getContext("2d");

	ctx.rect(x_pix, y_pix, 1, 1);
	ctx.fillStyle = "white";
	ctx.fill();
	return [x_pix, y_pix]
}

//*********************************************************************************
		var cmdVel = new ROSLIB.Topic({
		    ros : ros,
		    name : '/cmd_vel',
		    messageType : 'geometry_msgs/Twist'
		});

		var twist = new ROSLIB.Message({
		    linear : {
		      x : 0.0,
		      y : 0.0,
		      z : 0.0
		    },
		    angular : {
		      x : 0.0,
		      y : 0.0,
		      z : 0.0
		    }
		});

//*********************************************************************************
        var imageTopic = new ROSLIB.Topic({
		    ros : ros,
		    name : '/cam_front/left/compressed',
		    messageType : 'sensor_msgs/CompressedImage'
		});

//*********************************************************************************
    	document.getElementById('arena_map').style.visibility='hidden';
		var content = "<table>", ros_vid = "";
		var video_topics = [];
		var max_videos = 1; // no of max videos you want to display
		var vw = 1000, vh = (max_videos==1)? 450 : 300; 
		var col = (max_videos==1)? 1 : 4; //change the col value, if you want to change the size of table
		var row = Math.floor(max_videos/col), extra=(max_videos%col);
		var counter = 1;
		for(r = 0; r < row; r++){
			content += '<tr>';
			for(c = 0; c < col; c++){
				ros_vid = "<video id= myros_vid" + counter + " class=float-left width=" + vw/col + " height=" + vh + " controls></video>";
		    	content += '<td>' + ros_vid + '</td>';
		    	counter = counter + 1;
			}
			content += '</tr>';
		}
		if (extra){
			content += '<tr>';
			for(c = 0; c < extra; c++){
				ros_vid = "<video id= myros_vid" + counter + " class=float-left width=" + vw/col + " height=" + vh + " controls></video>";
		    	content += '<td>' + ros_vid + '</td>';
		    	counter = counter + 1;
			}
			content += '</tr>';
		}
		content += "</table>"
		// console.log(content);
		$('#video_table').append(content);

		imageTopic.subscribe(function(message) {
			for (i = 1; i <= max_videos; i++){
        	document.getElementById('myros_vid'+i).poster = "data:image/jpg;base64," + message.data;
        	}
      	});

//*********************************************************************************
		var send_cmd_vel = 0;
		var speed = 0, turn  = 0;
		function giveCommands(event) {
		  var speed_dx = 0.05, turn_dx = 0.1;
		  var x = event.which || event.keyCode; // event.keyCode is used for IE8 and earlier
		  if (send_cmd_vel) {
			  if (x == 87) {  //w
			    speed = speed + speed_dx;
			  }

			  else if (x == 65) {  //a
			    turn = turn + turn_dx;
			  }

			  else if (x == 68) {  //d
			    turn = turn - turn_dx;
			  }

			  else if (x == 83) {  //s
			    speed = speed - speed_dx;
			  }

			  else if (x == 88 || x == 32) {  //x or spacebar
			    speed = 0;
			    turn = 0;
			  }
			  else{;}
			  [speed, turn] = limitVelocities(speed, turn);
		      twist.linear.x = speed;
		      twist.angular.z = turn;
		  	  cmdVel.publish(twist);	  
		  }
		  else{
		  	alert ("First Start the tracking process !!!");
			$('#move_command').val('');
		  }
		}

		function limitVelocities(speed, turn){
		  var speed_max = 0.3, turn_max = 3.14;	
		  if (speed > speed_max){speed = speed_max;}
		  if (speed < -speed_max){speed = -speed_max;}
		  if (turn > turn_max){turn = turn_max;}
		  if (turn < -turn_max){turn = -turn_max;}
		  return [speed, turn];
		}
//*********************************************************************************
  		$(function(){ 
  			$('#track').change(function() {
  				if($(this).prop('checked')) {
			    	document.getElementById('arena_map').style.visibility='visible';
  					send_cmd_vel = 1;
  				} else {
			    	document.getElementById('arena_map').style.visibility='hidden';
  					send_cmd_vel = 0;
  					twist.linear.x = 0;
				    twist.angular.z = 0;
				  	cmdVel.publish(twist);
  					$('#move_command').val('');
  				}

  			});
  		});
//*********************************************************************************

    </script>
	</body>
</html>

